<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <ul class="social_icon">
      <li><a href="https://www.facebook.com/suzanne.stringham.1" target="SingleSecondaryWindowName"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://github.com/CaedmonGreeting" target="SingleSecondaryWindowName"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/suzanne-stringham-abcxyz" target="SingleSecondaryWindowName"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  
    <p class="baseText"> Qui Audet Adipiscitur - He Who Dares Wins</p>
    <p class="baseText"> Copyright &copy; <%= currentYear %> - SS - Arlington, Texas</p>
  </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>